/* ==========================================
            BANNER DE CURSOS (Promo)
   ========================================== */
   .courses-promo {
    position: relative;
    width: 100%;
    padding: 120px 20px;
    margin-top: 50px;
    
    background-image: url('../../img/cap/capping-curso.jpg'); /* Imagen de fondo del banner */ 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Esto deja estancada la foto del fondo */ 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses-promo__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-medio);
    z-index: 1;
}

.courses-promo__container {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.courses-promo__title {
    font-size: 3rem;
    color: var(--color-primario);
    margin-bottom: 25px;
    line-height: 1.2;
}

.courses-promo__text {
    font-size: 1.2rem;
    color: var(--color-texto-principal);
    margin-bottom: 40px;
}

/* --- Adaptación para celulares --- */
@media screen and (max-width: 768px) {
    .courses-promo {
        padding: 80px 20px;
        background-attachment: scroll; /* En celulares a veces el fixed da problemas, lo dejo clavado al banner */ 
    }
    .courses-promo__title {
        font-size: 2.2rem;
    }
}