/* ==========================================
      HEADER Y NAVEGACIÓN (Desktop)
   ========================================== */
   .header {
    background-color: var(--color-fondo-header);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

/* --- Estilos del Logo --- */
.header__logo {
    display: flex;
    align-items: center;
    gap: 0px; /* Espacio entre la fotito y el texto */
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primario);
}

.header__title-text {
    font-family: 'FuenteSantasUnas1'; /* fuente al lado del logo */
    font-size: 40px;
    margin-left: -9px; /* acerca al logo */
    letter-spacing: -1px;
    font-weight: 300; /* Le da grosor a la fuente */
    color: var(--color-primario);
    
}

/* --- Aca modifico el logo --- */
.header__img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    object-fit: cover;
}

/* --- Estilos del Menú --- */
.nav__list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav__link {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-texto-gris);
    transition: color 0.3s ease;
}

/* Efecto al pasar el mouse por encima (hover) */
.nav__link:hover, .nav__link.active {
    color: var(--color-primario);
}

/* --- El Botón Destacado (Contacto) --- */
.nav__link--cta {
    background-color: var(--color-primario);
    color: var(--color-fondo-tarjeta);
    padding: 10px 24px;
    border-radius: 30px;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.2s;
}

.nav__link--cta:hover {
    transform: scale(1.05);
    background-color: var(--color-secundario);
    color: var(--color-primario)
}

/* Oculto los botones de celular por ahora */
.header__toggle, .nav__close {
    display: none;
}

/* ==========================================
      MEDIA QUERIES (Diseño para Celulares)
   ========================================== */
   @media screen and (max-width: 768px) {
    
    .header__toggle {
        display: inline-block;
        background: none;
        border: none;
        font-size: 1.8rem;
        color: var(--color-primario);
        cursor: pointer;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 75%;
        height: 100vh;
        background-color: var(--color-fondo-principal);
        box-shadow: -2px 0 10px rgba(0,0,0,0.1);
        padding: 80px 30px;
        transition: right 0.4s ease;
    }

    .nav.show-menu {
        right: 0;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .nav__close {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--color-primario);
        cursor: pointer;
    }
}