/* ==========================================
   5. HEADER Y NAVEGACIÓN (Desktop)
   ========================================== */
   .header {
    background-color: var(--color-fondo-header);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05); /* Le da una sombrita elegante abajo */
    position: sticky; /* Hace que el menú te persiga cuando bajás por la página */
    top: 0;
    z-index: 100; /* Asegura que el menú siempre esté por encima de las fotos */
}

/* Aplicamos Flexbox para separar el logo del menú */
.header__container {
    display: flex;
    justify-content: space-between; /* Logo a la izq, menú a la der */
    align-items: center; /* Los centra verticalmente */
    height: 80px; /* Altura de la barra */
}

/* --- Estilos del Logo --- */
.header__logo {
    display: flex;
    align-items: center;
    gap: 0px; /* Espacio entre la fotito y el texto */
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primario);
}

.header__title-text {
    font-family: 'FuenteSantasUnas1'; /* fuente al lado del logo */
    font-size: 40px;
    margin-left: -9px; /* acerca al logo */
    letter-spacing: -1px;
    font-weight: 300; /* Le da grosor a la fuente */
    color: var(--color-primario);
    
}

/* --- Aca modifico el logo --- */
.header__img {
    height: 65px;
    width: 65px;
    border-radius: 50%; /* 0% es cuadrado, a medida que se aumenta el porcentaje hace las puntas curvas. Al 50% hace que la imagen cuadrada se vuelva un círculo perfecto */
    object-fit: cover;
}

/* --- Estilos del Menú --- */
.nav__list {
    display: flex;
    gap: 20px; /* Espacio entre los botones del menú */
    align-items: center;
}

.nav__link {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-texto-gris);
    transition: color 0.3s ease; /* Hace que el cambio de color al pasar el mouse sea suave */
}

/* Efecto al pasar el mouse por encima (hover) */
.nav__link:hover, .nav__link.active {
    color: var(--color-primario);
}

/* --- El Botón Destacado (Contacto) --- */
.nav__link--cta {
    background-color: var(--color-primario);
    color: var(--color-fondo-tarjeta);
    padding: 10px 24px;
    border-radius: 30px; /* Bordes bien redondeados tipo píldora */
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.2s;
}

.nav__link--cta:hover {
    transform: scale(1.05); /* Hace que el botón crezca un 5% al pasar el mouse */
    background-color: var(--color-secundario); /* Cambia a oscuro */
    color: var(--color-primario)
}

/* Oculto los botones de celular por ahora */
.header__toggle, .nav__close {
    display: none;
}

/* ==========================================
   6. MEDIA QUERIES (Diseño para Celulares)
   ========================================== */
   @media screen and (max-width: 768px) {
    
    /* 1. Mostramos el menú hamburguesa */
    .header__toggle {
        display: inline-block;
        background: none;
        border: none;
        font-size: 1.8rem; /* Lo hace grandecito para que sea fácil tocarlo con el dedo */
        color: var(--color-primario);
        cursor: pointer;
    }

    /* 2. Transformamos el contenedor de los links en un panel lateral oculto */
    .nav {
        position: fixed;
        top: 0;
        right: -100%; /* Esto lo empuja fuera de la pantalla hacia la derecha */
        width: 75%; /* Va a ocupar el 75% del ancho del celular */
        height: 100vh; /* 100% de la altura de la pantalla */
        background-color: var(--color-fondo-principal);
        box-shadow: -2px 0 10px rgba(0,0,0,0.1);
        padding: 80px 30px; /* Espacio interno */
        transition: right 0.4s ease; /* Hace que deslice suavemente cuando lo abra */
    }

    /* Esta clase se la agregaro luego con Javascript para que el menú entre a la pantalla */
    .nav.show-menu {
        right: 0;
    }

    /* 3. Acomoda los botones en columna en vez de fila */
    .nav__list {
        flex-direction: column;
        align-items: flex-start; /* Los alinea a la izquierda del panel */
        gap: 30px; /* Más espacio para que no se toquen por error con el dedo */
    }

    /* 4. Muestra y ubica la "X" de cerrar */
    .nav__close {
        display: block;
        position: absolute; /* Lo ubica libremente adentro del panel */
        top: 25px;
        right: 25px;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--color-primario);
        cursor: pointer;
    }
}