/* ==========================================
   8. SECCIÓN DE CATEGORÍAS DE SERVICIOS
   ========================================== */

/* La grilla que acomoda todo inteligentemente */
.services__grid {
    display: grid;
    /* Crea columnas automáticas de mínimo 300px. Perfecto para compu y celular */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

/* --- La Tarjeta de Categoría --- */
.category__card {
    background-color: var(--color-secundario);
    border-radius: 15px;
    overflow: hidden; /* Clave: hace que la foto de arriba respete los bordes redondos */
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.category__card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

/* --- El hueco para la foto --- */
.category__img-placeholder {
    width: 100%;
    height: 200px; 
    background-color: var(--color-fondo-gris); 
    overflow: hidden; 
    border-bottom: 3px solid var(--color-primario); 
    position: relative; /* CLAVE: Para que las fotos se apilen acá adentro */
}

/* Esto controla el tamaño de todas las imágenes del slider */
.category__img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0; 
    z-index: 0; /* Todas arrancan en el fondo */
    transition: opacity 0.8s ease-in-out, transform 0.4s ease; 
}

.category__logo{
    position: absolute;
    bottom: 10px; /* Lo despegamos 10 píxeles del borde de abajo */
    left: 10px;  /* Lo despegamos 10 píxeles del borde derecho */
    width: 35px;  /* El tamaño del loguito */
    height: auto;
    
    /* Le agregamos una sombra sutil. 
       Así, si la foto del servicio es muy clara, el logo dorado no se pierde */
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.6));
    z-index: 10;
}

/* La foto que se está yendo (Se queda en el medio mientras se desvanece) */
.category__img.previous {
    opacity: 0;
    z-index: 1; 
}

/* La foto nueva (Aparece por encima de todas) */
.category__img.active {
    opacity: 1;
    z-index: 2; 
}

/* Cuando pasás el mouse por la tarjeta, LA FOTO ACTIVA hace un leve zoom-in */
.category__card:hover .category__img.active {
    transform: scale(1.1); 
}

/* Cuando pasás el mouse por la tarjeta, la foto hace un leve zoom-in */
.category__card:hover .category__img {
    transform: scale(1.1); 
}

/* --- El texto y botón de abajo --- */
.category__content {
    padding: 30px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Empuja el botón siempre hacia abajo si el título es largo */
}

.category__title {
    font-size: 1.5rem;
    color: var(--color-texto-principal);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}